#
# Build objects and directories
#
/icons/
/obj/
/theme.txt
/*.pf2
/*.png


#
# Distribution archives (make dist)
#
/grub2-theme-ravensys.tar.gz
/grub2-theme-ravensys.tar.xz

#
# Release archives (make release)
#
/grub2-theme-ravensys-*.tar.gz
/grub2-theme-ravensys-*.tar.xz

#
# openSUSE Build Service
#
/build-service/

#
# IntelliJ IDEA Project files
#
.idea/
*.iml
